<main>
    <app-navbar class="relative z-50"/>
    <section class="relative z-30 lg:p-12">
        <div class="flex items-end justify-between">
            <div class="text-home">
                <p class="text-white lg:mt-10 dark:text-black lg:w-[40vw]">
                    i'm a frontend web developer based in Drc more preciselly in Lubumbashi,
                    i build user friendly website and user interfaces that match the client needed, i'm working on some 
                    exciting project , checkout my work section to know more about my work
                </p>
                <h1 class="text-white lg:text-6xl flex flex-col lg:mt-10 font-semibold dark:text-black">
                    <span class="mt-3">Hey i'm Likeur Off</span>
                    <span class="mt-3">a Frontend Developer</span>
    
                </h1> 
            </div>
            <div class="text-home-deux">
                <p class="text-white dark:text-black">likeur.off&#64;gmail.com</p>
                <p class="text-gray-400 animate-pulse">Scroll to explore</p>
            </div>
        </div>
    </section>
</main>
