<main>
    <app-navbar />
    <section class="lg:p-12">
        <div class="flex items-end justify-between">
            <div class="text-home">
                <h1 class="text-white lg:text-6xl flex flex-col lg:mt-10 font-semibold dark:text-black">
                    <span class="mt-3">Service</span>
                </h1> 
                <p class="text-white text-xl lg:mt-10 dark:text-black lg:w-[60vw]">
                    Discover what services i offer
                    and how i can help you for your Next Project, <br> <a routerLink="" class="underline"> Contact me Now !</a>
                </p>
            </div>
        </div>
    </section>
</main>
