<main>
    <app-navbar />
    <section class="lg:p-12">
        <div class="flex items-end justify-between">
            <div class="text-home-2">
                <h1 class="text-white lg:text-6xl flex flex-col lg:mt-10 font-semibold dark:text-black">
                    <span class="mt-3">Let's Talk</span>
                </h1> 
                <p class="text-white text-xl lg:mt-10 dark:text-black lg:w-[60vw]">
                    Connect with me Now, to create tailor-made solutions with you or your company
                </p>
            </div>
        </div>
    </section>
</main>