<main>
    <app-navbar />
    <section class="p-4 lg:p-12">
        <div class="flex items-end justify-between">
            <div class="text-home-2">
                <h1 class="text-white text-3xl lg:text-6xl flex flex-col lg:mt-10 font-semibold dark:text-black">
                    <span class="mt-3">Let's Talk</span>
                </h1> 
                <p class="text-white mt-6 text-xl lg:mt-10 dark:text-black lg:w-[60vw]">
                    Connect with me Now, to create tailor-made solutions with you or your company
                </p>
            </div>
        </div>
    </section>
    <section class="p-4 lg:p-12">
        <div>
            <div class="group relative z-50 h-14 font-semibold text-2xl lg:text-5xl overflow-hidden">
                <a href="mailto:likeur.off@gmail.com" class="flex text-white flex-col group-hover:-translate-y-14 duration-500"> 
                    <span>likeur.off&#64;gmail.com </span>
                    <span class="mt-2 block">likeur.off&#64;gmail.com </span>
                </a>
            </div>
        </div>
    </section>
    <section>
        <app-footer />
    </section>
</main>