<main>
    <app-navbar />
    <section class="lg:p-12">
        <div class="flex items-end justify-between">
            <div class="text-home-4">
                <h1 class="text-white lg:text-6xl flex flex-col lg:mt-10 font-semibold dark:text-black">
                    <span class="mt-3">Work</span>
                </h1> 
                <p class="text-white text-xl lg:mt-10 dark:text-black lg:w-[60vw]">
                    i don't just create website or User interfaces, i design everythings from scratch
                    to make sure that the client get what he want, i'm working on some exciting project , checkout my work section to know more about my work
                </p>
                
            </div>
        
        </div>
    </section>

</main>